<header>
  <sl-button variant="danger" size="small" href="/logout">
    Sair
  </sl-button>
</header>
<div class="form-container">
  <div class="centro-container">
    <sl-tab-group>
      <sl-tab slot="nav" panel="ideias">Gestão de Ideias</sl-tab>
      <sl-tab slot="nav" panel="votacao">Mecanismo de Votação</sl-tab>

      <sl-tab-panel name="ideias">
        <h1>Gestão de Ideias</h1>
        <p>Conteúdo da aba Gestão de Ideias</p>
      </sl-tab-panel>

      <sl-tab-panel name="votacao">
        <h1>Mecanismo de Votação</h1>
        <p>Conteúdo da aba de votação</p>
      </sl-tab-panel>
    </sl-tab-group>
  </div>

</div>