<div class="center-container">
  <div class="form-card">
    <h2>Criando ideia</h2>
    <form action="/create" method="post">

      <input type="text" name="titulo" placeholder="Titulo" required />
      <input type="text" name="descricao" placeholder="Descrição" required />
      <input type="text" 1name="categoria" placeholder="Categoria" required />

      <sl-button-group label="Alignment">
        <sl-button type="submit" variant="primary">Criar ideia</sl-button>
        <sl-button href="/centro">Cancelar</sl-button>
      </sl-button-group>
    </form>

  </div>
</div>