<div class="center-container">
  <div class="form-card">
    <h2>Cadastro</h2>
    <form action="/register" method="post">

      <input type="text" name="nome" placeholder="Nome" required />
      <input type="email" name="email" placeholder="Email" required />
      <input type="password" name="senha" placeholder="Senha" required />

      <button type="submit">Fazer cadastro</button>
    </form>

    <p>Já tem conta? <a href="/login">Login</a></p>
  </div>
</div>