<div
  class="center-container"
  style="display: flex; width: 100%; align-items: center; justify-content: center; height: 100vh; background-color: #D9D0C7;"
>
  <div
    class="form-card"
    style="display: flex; flex-direction: column; padding-inline: 1rem; background-color: #F2F2F2; border-radius: 1.2rem;"
  >
    <h2 style="padding-inline: 1rem; color: #59341E;">Editando ideia</h2>
    <form
      style="display: flex; flex-direction: column; gap: 1.2rem; padding-inline: 2rem;"
      action="/update/{{ideia._id}}?_method=PUT"
      method="POST"
    >

      <sl-input
        style="width: 50vw;"
        type="text"
        name="titulo"
        placeholder="Titulo"
        required
      ></sl-input>
      <sl-input
        style="width: 50vw;"
        type="text"
        name="descricao"
        placeholder="Descrição"
        required
      ></sl-input>
      <sl-input
        style="width: 50vw;"
        type="text"
        name="categoria"
        placeholder="Categoria"
        required
      ></sl-input>

      <sl-button
        type="submit"
        variant="primary"
        class="custom-button"
        style="width: 50vw; background-color: #BF9673 !important;"
      >Editar ideia</sl-button>
      <sl-button href="/centro" class="custom-link-button">Cancelar</sl-button>

    </form>

  </div>
</div>