.centro-container {
    margin: 40px auto;
    max-width: 800px;
    padding: 25px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.06);
}

#listagem-tarefas {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}